@font-face {
  font-family: Cursed Timer ULiL;
  src: url(./fonts/CursedTimerULiL.ttf);
}

:root {
  --darkblue: #1b244a;
  --white: #eee;
  --pink: #f94f6d;
  --fadedblue: #9aabd8;
  --black: #080001;
  --green: #10b981;
  --yellow: #fcd34d;
}

* {
  margin: 0;
}

body {
  font-family: Verdana, sans-serif;
}

/* Containers */
.container {
  width: 47rem;
  height: 30rem;
  margin: 50px auto;
  padding: 50px 30px;
  background: var(--darkblue);
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.board-timer {
  border: 5px solid var(--white);
  padding: 13px 20px 10px 20px;
  border-radius: 0.31rem;
  margin-bottom: 10px;
}

.board-score {
  width: 10.6rem;
  height: 7.5rem;
  background: var(--black);
  display: grid;
  place-items: center;
  padding-top: 12px;
  border-radius: 0.31rem;
  border: 2px solid transparent;
}

.add-points-btns {
  display: flex;
  justify-content: space-between;
}

/* Topography */
.board-timer p {
  font-family: Cursed Timer ULiL, sans-serif;
  font-size: 5.625rem;
  color: var(--green);
}

.board-title {
  color: var(--white);
  font-size: 2.5rem;
}

.board-points {
  font-family: Cursed Timer ULiL, sans-serif;
  font-size: 5.625rem;
  color: var(--pink);
}

.board-period h4,
.foul-text {
  font-size: 2rem;
  color: var(--white);
}

.foul-text {
  margin-top: 10px;
}

.foul-number {
  font-family: Cursed Timer ULiL, sans-serif;
  font-size: 3.625rem;
  color: var(--yellow);
  background: var(--black);
  border-radius: 0.31rem;
  padding: 10px 0 0 0;
}

.board-period span {
  border: 5px solid var(--white);
  border-radius: 0.31rem;
  font-family: Cursed Timer ULiL, sans-serif;
  color: var(--green);
  padding: 6px 10px 0 10px;
}

/* Buttons */
button {
  border-radius: 0.31rem;
  border: 2px solid var(--fadedblue);
  font-family: Cursed Timer ULiL, sans-serif;
  font-size: 1.125rem;
  color: var(--fadedblue);
  background: none;
  transition: 100ms color ease-in-out, 100ms border ease-in-out;
  cursor: pointer;
}

.add-points-btn {
  padding: 7px 10px 4px 10px;
  line-height: 1.73825rem;
}

.start-time-btn,
.pause-time-btn,
.resume-time-btn {
  padding: 5px 5px 0 5px;
}

.next-period-btn {
  width: 50%;
  margin: 5px auto;
  padding: 7px 10px 0 10px;
}

.add-foul-btn {
  padding: 5px 10px 0 10px;
}

.new-game-btn {
  padding: 5px 0 0 0;
  width: 70%;
  margin: 35px auto;
}

/* Hovers */
.add-points-btn:hover,
.pause-time-btn:hover {
  color: var(--pink);
  border-color: var(--pink);
}

.next-period-btn:hover,
.start-time-btn:hover,
.new-game-btn:hover {
  color: var(--green);
  border-color: var(--green);
}

.add-foul-btn:hover,
.resume-time-btn:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}

/* JS-related css */
.highlight-border {
  border: 2px solid var(--pink);
}
